#title {
    text-align: center;
    font-size: 80px;
}

body {
    display: grid;
    background-color: oldlace;
    font-family: Verdana, arial, sans-serif;
}

img {
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.back {
    display: grid;
    font-size: 28px;
    text-align: center;
    margin: auto;
}